@media screen and (min-width: 1px) and (max-width: 450px) {
    /*мобилка*/
.body {
    background-size: 100%;
    overflow-x: hidden;
}

.letters {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 220vw;
    overflow: hidden;
    position: relative; 
}

.bukvi {
    font-family: 'Helvetica-Bold';
    color: black;
    position: absolute;
}

.l1 {
    font-size: 27vw;
    top:-40vw;
    left: 2vw;
    animation: fall1 4s linear infinite, rot1 4s infinite;
    animation-delay: 1s;
    animation-play-state: running;
}

@keyframes fall1 {
    0% {
        top: -40vw;
        left: 2vw;
    }
    100% {
        top: 240vw;
        left: 4vw;
    }
}

@keyframes rot1 {
    0% {rotate: 70deg;}
    100% {rotate: -10deg}
}

.l2 {
    font-size: 47vw;
    top:-40vw;
    left: 10vw;
    animation: fall2 4s linear infinite, rot2 4s infinite;
    animation-delay: 0s;
    animation-play-state: running;
}

@keyframes fall2 {
    0% {
        top: -40vw;
        left: 10vw;
    }
    100% {
        top: 240vw;
        left: 16vw;
    }
}

@keyframes rot2 {
    0% {rotate: -70deg;}
    100% {rotate: -20deg}
}

.l3 {
    font-size: 19vw;
    top:-40vw;
    left: 10vw;
    animation: fall3 4s linear infinite, rot3 4s infinite;
    animation-delay: 2s;
    animation-play-state: running;
}

@keyframes fall3 {
    0% {
        top: -40vw;
        left: 6vw;
    }
    100% {
        top: 240vw;
        left: 5vw;
    }
}

@keyframes rot3 {
    0% {rotate: -70deg;}
    100% {rotate: -20deg}
}

.l4 {
    font-size: 23vw;
    top:-100vw;
    left: 29vw;
    animation: fall4 4s linear infinite, rot4 4s infinite;
    animation-delay: 1.5s;
    animation-play-state: running;
}

@keyframes fall4 {
    0% {
        top: -40vw;
        left: 29vw;
    }
    100% {
        top: 240vw;
        left: 28vw;
    }
}

@keyframes rot4 {
    0% {rotate: 70deg;}
    100% {rotate: -10deg}
}

.l5 {
    font-size: 32vw;
    top:-100vw;
    left: 35vw;
    animation: fall5 4s linear infinite, rot5 4s infinite;
    animation-delay: 2.5s;
    animation-play-state: running;
}

@keyframes fall5 {
    0% {
        top: -40vw;
        left: 35vw;
    }
    100% {
        top: 240vw;
        left: 37vw;
    }
}

@keyframes rot5 {
    0% {rotate: 0deg;}
    100% {rotate: 50deg}
}

.l6 {
    font-size: 26vw;
    top:-100vw;
    left: 43vw;
    animation: fall6 4s linear infinite, rot6 4s infinite;
    animation-delay: 0.3s;
    animation-play-state: running;
}

@keyframes fall6 {
    0% {
        top: -40vw;
        left: 43vw;
    }
    100% {
        top: 240vw;
        left: 41vw;
    }
}

@keyframes rot6 {
    0% {rotate: -15deg;}
    100% {rotate: -70deg}
}

.l7 {
    font-size: 37vw;
    top:-100vw;
    left: 50vw;
    animation: fall7 4s linear infinite, rot7 4s infinite;
    animation-delay: 3.4s;
    animation-play-state: running;
}

@keyframes fall7 {
    0% {
        top: -40vw;
        left: 50vw;
    }
    100% {
        top: 240vw;
        left: 51vw;
    }
}

@keyframes rot7 {
    0% {rotate: -70deg;}
    100% {rotate: -20deg}
}

.l8 {
    font-size: 62vw;
    top:-100vw;
    left: 62vw;
    animation: fall8 4s linear infinite, rot8 4s infinite;
    animation-delay: 2.7s;
    animation-play-state: running;
}

@keyframes fall8 {
    0% {
        top: -60vw;
        left: 62vw;
    }
    100% {
        top: 240vw;
        left: 61vw;
    }
}

@keyframes rot8 {
    0% {rotate: -15deg;}
    100% {rotate: -50deg}
}

.l9 {
    font-size: 30vw;
    top:-100vw;
    left: 82vw;
    animation: fall9 4s linear infinite, rot9 4s infinite;
    animation-delay: 1.1s;
    animation-play-state: running;
}

@keyframes fall9 {
    0% {
        top: -40vw;
        left: 82vw;
    }
    100% {
        top: 240vw;
        left: 84vw;
    }
}

@keyframes rot9 {
    0% {rotate: 0deg;}
    100% {rotate: 80deg}
}

.l10 {
    font-size: 24vw;
    top:-100vw;
    left: 89vw;
    animation: fall10 4s linear infinite, rot10 4s infinite;
    animation-delay: 3s;
    animation-play-state: running;
}

@keyframes fall10 {
    0% {
        top: -40vw;
        left: 89vw;
    }
    100% {
        top: 240vw;
        left: 90vw;
    }
}

@keyframes rot10 {
    0% {rotate: -70deg;}
    100% {rotate: -20deg}
}

.title {
    position: relative;
    background-color: black; 
    margin-top: -120vw;
    width: 100%;
    height: 17vw;
    overflow: hidden;
}

.title img {
  position: absolute;
  width: 95%;
  height: 100%;
  margin-left: 2.5%;
  opacity: 0;
  animation: change 3s infinite;
}

.title img:nth-child(1) {
  animation-delay: 0s;
}

.title img:nth-child(2) {
  animation-delay: 1s;
}

.title img:nth-child(3) {
  animation-delay: 2s;
}

@keyframes change {
  0%   { opacity: 0; }
  33%  { opacity: 1; }
  66%  { opacity: 0; }
  100%  { opacity: 0; }
}



.worms_img {
    height: 100%;
    width: 400%;
    animation: sprite 1s steps(1) infinite;
    position: relative;
}

.worms {
    position: absolute;
    margin-top: -130vw;
    margin-left: -14.02vw;
    width: 128vw;
    height: 100vw;
    overflow-y: hidden;
    transform: rotate(90deg);
}

@keyframes sprite {
    0%   { transform: translateX(0%); }
    25%  { transform: translateX(-128vw); }
    50%  { transform: translateX(-256vw); }
    75%  { transform: translateX(-384vw); }
    100% { transform: translateX(0); } 
}




.phrase {
  background-color: rgb(255, 255, 255);
  margin-top: 171vw;
  width: 100%;
  height: 60vw;
  overflow: hidden;
  position: relative; 
}

.grizi_div {
    margin-left: 1.5vw;
    margin-top: 3vw;
    width: 94.5vw;
    height: 12vw;
}

.grizi {
    height: 100%;  
}

.so_div {
    position: relative;
    margin-left: 1vw;
    margin-top: 2vw;
    width: 95vw;
    height: 12vw;
}

.so {
    height: 75%;
}

.smislom_div {
    position: relative;
    margin-left: 1vw;
    margin-top: 1.5vw;
    width: 95vw;
    height: 12vw;
}

.smislom {
    height: 75%;
}





































































}

@media screen and (min-width: 451px) and (max-width: 768px) {
    /*планшет мини*/
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
    /*планшет про*/
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
    /*маленький ноут*/
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    /*большой десктоп*/
}